
<div class="row animated fadeIn fast ">
  <div class="col-md-12 text-right">
    <button
    [routerLink]="['/firebase', 'new']"
    name="button"
    type="button"
    class="btn btn-outline-primary" >
    New Dog
    </button>
  </div>
</div>

<br>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-inverse">
      <tr >
        <th></th>
        <th>Name</th>
        <th>Breed</th>
        <th>Origin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of dogsArray | keys; let i = index" >
        <td>{{ dogsArray[k].name }}</td>
        <td>{{ dogsArray[k].breed }}</td>
        <td></td>
        <td> <button
          [routerLink]="['/firebase', k]"
          class="btn btn-outline-success"
          type="button"
          >
          Edit
        </button> </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

    <div
    *ngIf="loading"
    class="alert alert-warning" role="alert">
      <strong>Loading ...</strong> wait please
    </div>

</div>
